ul li {
    list-style-type: none;
}

.page{
    display: flex;
    flex-direction: column;
    background-color: #040C18;
}

/* Шапка */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 162px;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__link {
    color: aliceblue;
    text-decoration: none;
}

/* Первый блок */

.main__title {
    color: aliceblue;
}

.main__text {
    color: aliceblue;
}