@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope/static/Manrope-Regular.ttf);
}

@font-face {
    font-family: "Manrope-Light";
    src: url(../fonts/Manrope/static/Manrope-Light.ttf);
}

@font-face {
    font-family: "Manrope-Bold";
    src: url(../fonts/Manrope/static/Manrope-Bold.ttf);
}

.page{
    display: flex;
    flex-direction: column;
    font-family: "Manrope", sans-serif;
    background-color: #040C18;
}

/* Шапка */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 162px;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__link {
    color: #fff;
    text-decoration: none;
}

/* Первый блок */

.main {
    display: flex;
}
.main__content {
    display: flex;
    flex-direction: column;
}

.main__title {
    color: aliceblue;
    font-size: 62px;
}

.main__text {
    color: aliceblue;
    font-size: 20px;
}